<!DOCTYPE html>
<html lang="en">
<head>
	<!--
		Sérstakar þakkir fyrir swole tutorials
		http://codepen.io/pibby/pen/DLtaK/?editors=101
		http://www.codecademy.com/learn
		http://jsfiddle.net/w7cyhnzf/11/
		https://teamtreehouse.com/forum/local-storage-with-angularjs
	-->
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bensínverð </title>

    <!-- <link rel="stylesheet" href="css/screen.css"> -->
	<link rel="stylesheet" href="css/cupertino/jquery-ui-1.10.0.custom.css"> 

	<!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/custom.css">

    <!-- Include the AngularJS library -->
    <script src="js/shared/angular.min.js"></script>


</head>
<body ng-app="GasPriceApp"><!-- Segir að ég sé að nota GasPriceApp hérna -->
<div class="main" ng-controller="MainController"><!-- Nota MainController-inn í þessu div -->
	<div class="container">

		<!-- Login. Virkni gæti komið seinna 
		<br>
		<button type="button" class="btn btn-primary pull-right">Skrá inn</button> -->


		<!-- Header -->
		<div class="page-header">
			<h1><span class="glyphicon glyphicon-tint"></span>Bensínverð.is <small>hvar átt þú að dæla?</small></h1>
		</div>


		<!-- Skráningar form nýrra dælinga --> 
			<div id="logs">		
			<h3>Skrá dælingu</h3>	
			    <form ng-submit="addPost()">
			        <div class="form-group"> 
			        	
			        	<label for="station"><span class="glyphicon glyphicon-scale"></span> Stöð: </label>
			        	<select name="station" class="form-control" ng-model="stationInput">
			        		
			        		<option ng-repeat="station in stations.results" value="{{ station.flag_value }}">{{ station.flag_value }} - {{ station.ver_number }} kr/l</option>
			        		<!--
			        		<option value="Atlantsólía">Atlantsólía</option>
			        		<option value="N1">N1</option>
			        		<option value="Orkan">Orkan</option>
			        		<option value="Olís">Olís</option>
			        		<option value="ÓB">ÓB</option>
			        		<option value="Shell">Shell</option>
			        		-->
			        	</select>
			            
			            <label for="liters"><span class="glyphicon glyphicon-dashboard"></span> Lítrar: </label>
			            <input id="liters" type="text" class="form-control" ng-model="litersInput"/>
			            
			            <label for="note"><span class="glyphicon glyphicon-pencil"></span> Athugasemd: </label>
			            <input id="note" type="text" class="form-control" ng-model="noteInput"/>
			        
			        </div>
			        <button type="submit" class="btn btn-default">Skrá</button>
			    </form>
			</div>
			<br>

			<!-- Hérna á listo yfir dælingar að koma -->
			<div class="jumbotron">
				<h3>Fyrri dælingar</h3>
				<ul class="list-group" ng-repeat="post in posts | orderBy:'-id'" item="item">

					<li class="list-group-item" ng-if="post.liters != null">
					<!--Ef að það eru engir lítrar á postum við ekki -->
						<h4>
							{{post.liters}} Lítrar{{post.id}}
						</h4>	
						<h5>
							<span class="glyphicon glyphicon-scale"></span> {{post.station}}
						</h5>
						<h5>
							<span class="glyphicon glyphicon-pencil"></span> {{post.note}}
						</h5><!-- displayar bara athigasemd ef að hún er -->
						
						<h5>
							<span class="glyphicon glyphicon-calendar"></span> {{post.date}}
						</h5>

						<h5>
							<span class="glyphicon glyphicon-piggy-bank"></span> {{post.price | number}} kr.
						</h5>


						<!-- Náði ekki að láta þetta virka
						<button ng-show="$index==1" ng-click="deletePost($index, post)" class="btn btn-danger">Eyða</button>-->
					</li>
					
				</ul>
			</div>

		<!-- Hérna geri ég að loopa í gegnum stations.results sem að er api 
			 prentar út nafn bensínstöðvar, bensínfélag og bensínverð -->
		<div class="jumbotron">
			<h3>Bensínverð</h3>
			<ul class="list-group">
				<!-- ng-repeat="station in stations.results" er til þess að loopa í gegnum stations.results -->

				<div class="bensinverd" ng-repeat="station in stations.results">
					<!-- og setur upplýsingarnar inní li -->
					<li class="list-group-item">
						<span class="badge">{{ station.ver_number }} kr.</span>
						<h4>{{ station.flag_value }}</h4>
						<!-- <h4>{{ station.st_value }}</h4> -->
				    </li>
				</div>
			</ul>
		</div>

		<footer>
            <div class="row">
                <div class="col-lg-12">
                    <h4>2015 <span class="glyphicon glyphicon-copyright-mark"></span> Daði Sigursveinn Harðarson</h4>
                </div>
            </div>
            <!-- /.row -->
        </footer>


			


	</div>
</div>

<!-- JavaScript -->
<script src="js/shared/jquery-1.11.2.js"></script>
<script src="js/shared/jquery-ui.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/shared/bootstrap.min.js"></script>


<!-- Modules -->
<script src="js/app.js"></script>

<!-- Controllers -->
<script src="js/controllers/MainController.js"></script>

<!-- Services -->
<script src="js/services/bensinverd.js"></script>
<script src="js/services/sendToServer.js"></script>
<!-- Directives -->

<!-- Templates -->

</body>
</html>